@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 14px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#left-container {
    background-color: ;
}

#odin-title {
    color: white;
    font-family: 'norsebold';
    font-size: 90px;
    text-align: center;
}

#odin-logo {
    height: 90px;
}

h1 {
    color: white;
    font-family: 'norsebold';
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 90px;
    text-align: center;
    margin-top: 100px;
}

#left-container {
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size:cover;
    height: 100vh;
    width: 50%;
}

#right-container {
    height: 100vh;
    max-width: 70%;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 30px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px lightgray;
}

#second-signup-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1px 30px;
    background-color: white;
}

#second-signup-container button{ 
    width: 150px;
    height: 40px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightgray;

}

#sign-up-container h2 {
    width: 100%;
}

.form-row-cell {
    width: 35%;
}

label, input {
    width: 90%;
}

label {
    font-size: 10px;
    color: #474749;
}

input {
    color: #2c2c2e;
    border-radius: 5px;
    border: #E5E7EB solid 1px;
    height: 22px;
}

input:hover {
    border: #7979ec solid 1px;
}

input:invalid {
    border: red solid 1px;
}

input:empty {
    border: #E5E7EB solid 1px;
}

button:hover {
    cursor: pointer;
}

#core-content {
    padding: 50px 30px 0px;
    max-width: 570px;
}

#core-content p {
    font-weight: bold;
    font-size: 16px;
    margin: 2px;
}